* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #00ffff;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #add8e6;
  width: 50%;
  height: 50%;
  border-radius: 10px;
  padding: 28px;
}

.palValue {
  outline: none;
  border: none;
  text-align: center;
  padding: 4px 8px;
  width: 70%;
  border-radius: 5px;
  height: 30px;
  margin-top: 10px;
}

.check-btn {
  border: none;
  background-color: #176e6e;
  font-size: 18px;
  color: #ffffff;
  padding: 6px 16px;
  border-radius: 4px;
  margin-top: 14px;
  cursor: pointer;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.res-text {
  font-size: 20px;
  font-weight: 500;
}
